* {
  margin: 0;
  padding: 0;
}
body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    padding:0;
    margin: 0;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/images/hero.jpg");
    min-height: 75%;
}
.menu {
    display: none;
}
.hero-text {
   font-size: 80px;
   border-bottom: 3px solid black;
}
.all-cap {
  text-transform: uppercase;
}
.menu-card {
  padding: 0px 20px;
  margin-top: -42px;
  background-color: #E0DCDA;
}
.menu-links {
  background-color: #F3A956;
}
.menu-card-h5 {
  padding-top: 25px;
}
.activeMenuTab {
  color: red;
}
form {
  background-color: #E0DCDA;
}
.copyright {
  padding: 17px 0;
}
.footer-branding {
  margin: 0 auto;
}
.footer-branding p {
  text-align: left;
}
/* Begin Mailchimp Signup Form Styles */
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* End of Mailchimp Signup Form Styles */
.background-color {
   background-color: #6DC0D5;
}
